.notification_header-title {
   font-weight: 500;
   font-weight: 600;
   font-size: 18px;
}

.notification__contain-normal {
   position: relative;
   display: flex;
   flex-direction: row;
   align-content: center;
   align-items: center;
   padding: 12px;
   cursor: pointer;
}

.notification__contain-active {
   position: relative;
   background-color: #f9f9f9;
}
.notification_header-mark {
   margin-right: 4px;
   color: #2768ea;
   font-size: 14px;
   cursor: pointer;
}
.user_title_name {
   color: rgba(0, 0, 0, 0.88);
   font-weight: 500;
   font-size: 14px;
}
.avatar_notification {
   width: 48px;
   height: 48px;
   margin-top: 10px;
   border-radius: 999px;
}

.notification__circle-active {
   width: 10px;
   height: 10px;
   background-color: #9ebd9e;
   border-radius: 999px;
}
