/* style for all components */
.breadcrumb_title {
  color: #202224 !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.114px;
  text-transform: capitalize;
}
.container-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  // justify-content: center;
  width: 100%;
  padding: 16px;
  background: #fff;
  border: 1px solid var(--text-light);
}
.input-layout {
  padding: 8px 16px;
  background: #fff;
  border: 1px solid var(--text-light);
  border-radius: 4px;
}
.datepicker-layout {
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 8px 16px;
  background: #fff;
  border: 1px solid var(--text-light);
}

.select-layout {
  height: 40px;
  background: #fff;
  border-radius: 4px;
}
