.notification-management_container {
  .notification-management_form {
    .ant-form-item-label {
      label {
        color: var(--text-dark);
        font-weight: 600;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
      }
    }
  }
}
