.modal-category-management__container {
  width: 100%;
  .ant-form-item-label {
    label {
      color: var(--text-dark);
      font-weight: 600;
      font-size: 14px;
      font-style: normal;
      line-height: normal;
    }
  }
  .ant-upload-wrapper .ant-upload-select {
    width: 100%;
  }
  .text_danger {
    color: var(--error-regular);
    font-weight: 700;
    font-size: 15px;
  }
}
