.revenue_school-management_containe {
  .ant-form-item-label label {
    color: var(--text-dark);
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
  }

  .sub-revenue_title {
    color: #202224;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.114px;
    text-transform: capitalize;
  }
}
